name: Copy to docs repo

on:
  workflow_dispatch:  # Manually start a workflow
  push:
    branches: development
    paths:
      - 'BUILDS.md'
      - 'I2CDEVICES.md'

jobs:
  copy_change:
    runs-on: ubuntu-latest
    if: github.repository == 'arendst/Tasmota'
    strategy:
      matrix:
        file:
          - name: 'I2CDEVICES.md'
            message: 'I2CDevices.md changed'
          - name: 'BUILDS.md'
            message: 'Builds.md changed'
    steps:
    - uses: actions/checkout@v4
    - name: Push ${{ matrix.file.name }} to docs repo
      uses: Jason2866/copy_file_to_another_repo_action@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source_file: ${{ matrix.file.name }}
        destination_repo: 'Tasmota/docs'
        destination_branch: 'development'
        destination_folder: 'docs'
        user_email: 'github-actions@github.com'
        user_name: 'github-actions'
        commit_message: ${{ matrix.file.message }}
